@using Blo.Properties
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type='text/javascript'>
        $(document).ready(function () {
           var grid;
             
             //PERMITE LLENAR LOS CAMPOS CON SUS CORESPONDIENTES VALORES
             function Edit(e) {
                $("#Id").val(e.data.record.Id);
                $("#TipoMedio").val(e.data.record.TipoMedio);
                $("#myModal").modal("show");
             }
             
             //REALIZA LA LLAMADA A UN MODAL PARA UN NUEVO REGUISTRO
             function Add() {
                 $("#Id").val(""); //campos ocultos
                $("#myModal").modal("show");
             }
             
             //EVENTO PARA ELIMINAR UN REGISTRO
             function Remove(e) {
                bootbox.confirm("@PropertiesBlo.msgConfirmacion", function (result) {
                    if (result) {
                        $.ajax({ url: "../MerTipoMedio/Remove",type:"POST", data: { id: e.data.record.Id } })
                        .done(function (data, textStatus, jqXHR) {
                            grid.reload();
                            Mensajes(data.mensaje);
                        })
                        .fail(function (data, textStatus, jqXHR) {
                            $().toastmessage('showErrorToast', "@PropertiesBlo.msgFallo");
                        });
                    }
                });
             }
             
             //AQUI SE ESTABLACEN LAS PROPIEDADES Y EVENTOS DEL GRID
             grid = $("#gridTipoMedio").grid({
                uiLibrary: "bootstrap",
                minWidth: 600,
                columns: [ 
                   { field:"TipoMedio",title:"Tipo de Medio",sortable: true },
                    { title: "", field: "Edit", width: 42, type: "icon", icon: "glyphicon-pencil btn btn-default btn-xs", tooltip: "Editar", events: { "click": Edit } },
                    { title: "", field: "Delete", width: 42, type: "icon", icon: "glyphicon-trash btn btn-danger btn-xs", tooltip: "Eliminar", events: { "click": Remove } }
                ],
                pager: { enable: true, limit: 10, sizes: [5, 10, 20,100] }
             });
             
             //EVENTOS DE BOTONES
             $("#btnAgregarTipoMedio").on("click", Add);
             //VALIDACIONES DEL FORMULARIO
             $('#formTipoMedio').formValidation({
                   icon: {
                       valid: 'glyphicon glyphicon-ok',
                       invalid: 'glyphicon glyphicon-remove',
                       validating: 'glyphicon glyphicon-refresh'
                   },
                   fields: {
                       TipoMedio: {
                           validators: {
                               notEmpty: {
                                       message: '@PropertiesBlo.msgRequerido'
                                    }
                           }
                    }
                }
             })
             
             //<<<<<FormValidation - Inicio de eventos de validacion>>>>>>>>>>
             .on('success.field.fv', function (e, data) {
               var $parent = data.element.parents('.form-group');
               $parent.removeClass('has-success');
               data.element.data('fv.icon').hide();
             })
             .on('success.form.fv', function (e) {
               e.preventDefault();
               var $form = $(e.target);
               var bv = $form.data('formValidation');
             
               //Envio de datos
               $.ajax({ url: $form.attr('action'), type: "POST", data: $form.serialize() })
                   .done(function (data, textStatus, jqXHR) {
                       $("#myModal").modal("hide");
                       Mensajes(data.mensaje);
                       grid.reload();
                   })
                   .fail(function (data, textStatus, jqXHR) {
                       $("#myModal").modal("hide");
                       $().toastmessage('showErrorToast', "@PropertiesBlo.msgFallo");
                   });
               });
             
             //AL CERRAR EL MODAL SE REESTABLECN LOS VALORES
             $('#myModal').on('hide.bs.modal', function () {
                   $('#formTipoMedio').trigger("reset"); // Resetea los valores de todos campos
                   $("#formTipoMedio").formValidation('resetForm'); // Elimina las clases de validacion
             })
         });
     </script>
}

<!-- Content Header (Page header) -->
<section class="content-header">
   <h1>
   TIPO DE MEDIO
       <small>MERCADEO</small>
   </h1>
</section>


<!-- Main content -->
<section class="content" style="padding-top:0; padding-bottom:0; ">
   <div class="box box-primary" style="margin-bottom:0; ">
       <div class="box-body">
           
            <div class="row">
                <div class="col-md-3">
                    <button type="button" id="btnAgregarTipoMedio" class="btn btn-primary pull-left"><span class='glyphicon glyphicon-plus'></span>@PropertiesBlo.btnNuevo</button>
                </div>
            </div>
           <div class="table-responsive" style="overflow-y: hidden; ">
               @*Definicion de tabla y origen da datos (Metodo del controller)*@
               <table id="gridTipoMedio" data-source="@Url.Action("GetTipoMedio")"></table>
           </div>
       </div>
   </div><!-- /.box -->
</section><!-- /.content -->


<!--MODAL-->
<div id='myModal' class='modal fade' data-backdrop="static">
   <div class="modal-dialog">
       <form id="formTipoMedio" action="/MerTipoMedio/Save" method="post">

           <div class="panel panel-primary">
               <div class="panel-heading">
                   <button type="button"class="close" data-dismiss="modal" aria-hidden="true">x</button>
                   Tipo de Medio
               </div>
                <div class="panel-body">
                   <input id="Id" type="hidden" name="Id" value="">
               
                   <div class="form-group"> 
                        <label for="TipoMedio">Tipo de Medio:</label>
                        <input class="form-control " id="TipoMedio" name="TipoMedio" type="text" maxlength="30">
                   </div>
                 </div>
                 <div class="panel-footer text-right">
                       <button class="btn btn-default" data-dismiss="modal">@PropertiesBlo.btnCancelar</button>
                       <input type="submit" id="btnGuardarTipoMedio" value="@PropertiesBlo.btnGuardar" class="btn btn-primary">
                 </div>
              </div>
       </form>
   </div>
</div>
